// 次のコードを引用・編集
// [AtCoderProblems/\_custom\.scss at master · kenkoooo/AtCoderProblems](https://github.com/kenkoooo/AtCoderProblems/blob/master/atcoder-problems-frontend/src/style/_custom.scss)
// fe2824f4e9954b66408ac9c2c677d075bcbb2c03

// Color Variables

$difficulty-grey-color: #808080 !default;
$difficulty-brown-color: #804000 !default;
$difficulty-green-color: #008000 !default;
$difficulty-cyan-color: #00c0c0 !default;
$difficulty-blue-color: #0000ff !default;
$difficulty-yellow-color: #c0c000 !default;
$difficulty-orange-color: #ff8000 !default;
$difficulty-red-color: #ff0000 !default;

$success-bg-color: #c3e6cb !default;
$success-hover-bg-color: #b1dfbb !default;

$success-intime-bg-color: #9ad59e !default;
$success-intime-hover-bg-color: #88cc88 !default;

$success-before-contest-bg-color: #99ccff !default;
$success-before-contest-hover-bg-color: #88bbff !default;

$warning-bg-color: #ffeeba !default;
$warning-hover-bg-color: #ffe8a1 !default;

$warning-intime-bg-color: #ffdd99 !default;
$warning-intime-hover-bg-color: #f0cc99 !default;

$danger-bg-color: #f5c6cb !default;
$danger-hover-bg-color: #f1b0b7 !default;

$penalties-color: #ff0000 !default;

.difficulty-red {
  color: $difficulty-red-color;
}
.difficulty-orange {
  color: $difficulty-orange-color;
}
.difficulty-yellow {
  color: $difficulty-yellow-color;
}
.difficulty-blue {
  color: $difficulty-blue-color;
}
.difficulty-cyan {
  color: $difficulty-cyan-color;
}
.difficulty-green {
  color: $difficulty-green-color;
}
.difficulty-brown {
  color: $difficulty-brown-color;
}
.difficulty-grey {
  color: $difficulty-grey-color;
}

.topcoder-like-circle {
  display: block;
  border-radius: 50%;
  border-style: solid;
  border-width: 1px;
  width: 12px;
  height: 12px;
}

.topcoder-like-circle-big {
  border-width: 3px;
  width: 36px;
  height: 36px;
}

.rating-circle {
  margin-right: 5px;
  display: inline-block;
}

// AtCoderDifficultyDisplay
$difficulty-unavailable-color: #17a2b8 !default;

.difficulty-unavailable {
  color: $difficulty-unavailable-color;
}

.difficulty-unavailable-icon {
  margin-right: 0.3px;
}

.difficulty-unavailable-icon-big {
  font-size: 36px;
  margin-right: 5px;
}
