<h2>atcoder-difficulty-display</h2>
<hr />
<a href="https://github.com/hotaru-n/atcoder-difficulty-display">GitHub</a>
<div class="form-horizontal">
  <div class="form-group">
    <label class="control-label col-sm-3">ネタバレ防止</label>
    <div class="col-sm-5">
      <div class="checkbox">
        <label>
          <input
            type="checkbox"
            id="hide-difficulty-atcoder-difficulty-display"
          />
          画面上のボタンを押した後に難易度が表示されるようにする
        </label>
      </div>
    </div>
  </div>
</div>
